/* =============
 table of contents
===============

0. global styles
1. ul class .flex
      1.1 sub HTML + css + JavaScript
      1.2 sub sub of CSS


2. main & footer
3. header of mobile
 
*/

/* ===============
   0. global style
================ */

* {
  margin: 0;
  padding: 0;
  color: white;

  font-family: sans-serif;

  text-decoration: none;
  list-style: none;

  letter-spacing: 1px;
}

html {
  box-sizing: border-box;
  background-color: #f2f2f2;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}




/* ==================
    2. main & footer
===================== */




/* ==================
    3. header of mobile
===================== */
.show-when-mobile {
  display: none;
}
